$colorPrimary: #323232;
$colorPrimaryLight: #292929;
$colorSecondary: #00ac07;
$colorAccent: #047dd9;
$colorSilent: #c8c8c8;

$colorPlaceholder: #8b8b8b;
$colorHint: #a3a3a3;
$colorLine1: #e0e0e0;
$colorLine2: #d0d0d0;
$colorLine3: #9b9b9b;

$colorShadow: rgba(170, 170, 170, 0.2);
$colorModalBackground: rgba($colorPrimary, 0.7);

$colorWhite: #fff;
$colorLightGray: #878787;
$colorGray: #565656;
$colorDarkGray: #4f4f4f;

$colorGray3: #f3f3f3;
$colorGray4: #f4f4f4;
$colorGray5: #f5f5f5;
