@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	src: url(./../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	src: url(./../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	src: url(./../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	src: url(./../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	src: url(./../fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 500;
	src: url(./../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	src: url(./../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
	font-family: 'Inter';
	font-weight: 200;
	src: url(./../fonts/Inter/Inter-ExtraLight.ttf);
}

@font-face {
	font-family: 'Inter';
	font-weight: 400;
	src: url(./../fonts/Inter/Inter-Regular.ttf);
}

@font-face {
	font-family: 'Inter';
	font-weight: 500;
	src: url(./../fonts/Inter/Inter-Medium.ttf);
}

@font-face {
	font-family: 'Inter';
	font-weight: 700;
	src: url(./../fonts/Inter/Inter-Bold.ttf);
}

@font-face {
	font-family: 'Rubik';
	font-weight: 700;
	src: url(./../fonts/Rubik/Rubik-Bold.ttf);
}
